<!DOCTYPE html>
<html ng-app='ToDoList'>
<title>ToDo List</title>
<head>

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="js/app.js"></script>

</head>
<body ng-controller='ToDoListController as todo'>
  Hello world
  <div id='list' ng-repeat='tasks in todo.list'>
    {{ tasks.task }}
  </div>
  <div>
    Add a task here:
    <input type='text' ng-model='todo.newTask'>
    <button id='addtask' type='submit' ng-click='todo.addTask();'>Add</button>
  </div>
</body>
</html>