<!DOCTYPE html>
<html ng-app='ToDoList'>
<title>ToDo List</title>
<head>

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="js/app.js"></script>

</head>
<center><body ng-controller='ToDoListController as todo'>
  To Do
  <div id='list' ng-repeat='tasks in todo.list' ng-model='todo.item'>
    {{ tasks.task }} {{ tasks.status }} <input type='checkbox' class='checkbox' ng-model='todo.markComplete[tasks.task]'>
  </div>
  <div id='total' ng-model='todo.taskNumber'>
    {{ todo.taskNumber }} Tasks Active
  </div>
  <div>
    Add a task here:
    <input type='text' ng-model='todo.newTask'>
    <button id='addtask' type='submit' ng-click='todo.addTask(); todo.newTask = null;'>Add</button>
    <button id='completetask' type='submit' ng-click='todo.completeTask();'>Complete</button>
    <button id='deletetask' type='submit' ng-click='todo.deleteTask();'>Delete</button>
    <button id='clearcompleted' type='submit' ng-click='todo.clearCompleted();'>Clear Completed</button>
  </div>
</body></center>
</html>